/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
/*    color: #555;*/
/*    background-size: cover;
    background-position: center;*/
    background: linear-gradient(90deg, #EB4D4D 0%, #2C729E 100%);
/*    transition: linear-gradient 0.3s, color 0.3s;
    transition: background 3s ease-in-out;*/
}

.wrapper, .front, .back {
    width: 800px;
    height: 500px;
    margin: 0px auto;
}

.front .back {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.player-1-panel, .backRight {
    width: 33%;
    float: left;
    height: 500px;
    padding: 20px;
    background-color: #fff
/*    transition: width 2s ease 0s, height 2s ease;*/
}

.player-0-panel, .backleft {
    width: 33%;
    float: left;
    height: 500px;
    padding: 20px;
    background-color: #fff
/*    background: linear-gradient(0deg, #EB4D4D 0%, #fff 0%);
    transition: background 3s ease-in-out;*/
}

.progressBarWrapper {
    position: relative;
    width: 2%;
    float: left;
    height: 500px;
    background-color: #fff
}

.progressBars {
    position: absolute;
    bottom: 0%;
    width: 100%;
    float: left;
    height: .0001%;
    padding: 0px;
    transition: height .75s ease-in-out;
/*    background-color: #EB4D4D;*/
}

#player-0-progressBar {
    background-color: #EB4D4D;
}

#player-1-progressBar {
    background-color: #2C729E;
}

.middleGround {
/*  TODO - animate Linear gradient to show whos winning*/
    background: linear-gradient(90deg, #2C729E 0%, #EB4D4D 100%);
    width: 30%;
    float: left;
    height: 500px;
    padding: 0px;
}


/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    color: #2C729E
}

#name-0 {
   color: #EB4D4D; 
}

#name-1 {
   color: #2C729E; 
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 80px;
}

#score-0 {
    color: #EB4D4D;
}

#score-1 {
    color: #2C729E;
}

/*.active { background-color: #f7f7f7; }*/
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 35px;
    position: absolute;
    color: #EB4D4D;
    top: -4px;
    right: 0px;
}

.active #name-1::after {
    color: #2C729E;
}

#player-0-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

#player-1-box {
    background-color: #2C729E;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #fff;
}

.player-current-score {
    font-size: 30px;
}

fieldset{
  border: none;
}

button {
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.middleGround i {
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new {
    color:#fff;
    position: relative;
    top: 30px;
}

.btn-roll {
    width: 100%;
    margin: 18px 50% 0 50%;
    font-size: 20px;
    padding: 12px;
    color: #EB4D4D;
    text-align: center;
}

#roll-1, #ion-1 {
    color: #2C729E;
}

.btn-hold {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 365px;
}

.btn-settings, .btn-play {
    text-align: center;
    color:#fff;
    position: relative;
}

.btn-settings {
    top: 400px;
}

.btn-play {
    
    top: 460px;
}

#diceID src {

}

.dice {
    position: relative;
    z-index: 10;
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.30);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }


/**********************************************
*** Card FLipper
**********************************************/

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
/*     for firefox 31 */
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.wrapper {
    perspective: 1000px;
    transform-style: preserve-3d;
}
.flipWrapper {
    margin-top: 50px;
    transition: all .75s ease;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    position: relative;
}
/*.panelFlip {
    margin-top: 50px;
    transition: all .75s ease;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    position: relative;
}*/

/**********************************************
*** back panel
**********************************************/
#selectWrap {
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    position: absolute;
    top: 50px;
}

#voiceSelect {
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    position: relative;

}