/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
/*    background-size: cover;
    background-position: center;*/
    background: linear-gradient(90deg, #EB4D4D 0%, #2C729E 100%);
}

.wrapper {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-1-panel {
    width: 33%;
    float: left;
    height: 500px;
    padding: 20px;
/*    transition: width 2s ease 0s, height 2s ease;*/
}

.player-0-panel {
    width: 33%;
    float: left;
    height: 500px;
    padding: 20px;
/*    background: linear-gradient(0deg, #EB4D4D 0%, #fff 0%);
    transition: background 3s ease-in-out;*/
}

.progressBarWrapper {
    position: relative;
    width: 2%;
    float: left;
    height: 500px;
}

.progressBars {
    position: absolute;
    bottom: 0%;
    width: 100%;
    float: left;
    height: .0001%;
    padding: 0px;
    transition: height .75s ease-in-out;
/*    background-color: #EB4D4D;*/
}

#player-0-progressBar {
    background-color: #EB4D4D;
}

#player-1-progressBar {
    background-color: #2C729E;
}

.middleGround {
    background: linear-gradient(90deg, #2C729E 0%, #EB4D4D 100%);
    width: 30%;
    float: left;
    height: 500px;
    padding: 0px;
}


/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 80px;
}

#score-0 {
    color: #EB4D4D;
}

#score-1 {
    color: #2C729E;
}

/*.active { background-color: #f7f7f7; }*/
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 35px;
    position: absolute;
    color: #EB4D4D;
    top: -4px;
    right: 0px;
}

#player-0-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

#player-1-box {
    background-color: #2C729E;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #fff;
}

.player-current-score {
    font-size: 30px;
}

button {
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.middleGround i {
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new {
    color:#fff;
    position: relative;
    top: 30px;
}

.btn-roll {
    width: 100%;
    margin: 18px 50% 0 50%;
    padding: 12px;
    text-align: center;
}

.btn-hold {
    color: #fff;
    position: relative;
    top: 420px;
}

#diceID src {

}

.dice {
    position: relative;
    z-index: 10;
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.30);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }
