body {
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 20px;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    background: white;
}

table {
    margin: 0 auto;
}

tr td {
    padding: 0 10px;
}

/*Navigation Style -------------------------------------------------- */
nav {
    text-align: center;
    padding-left: 0px;
}
nav ul {
    margin-bottom: 50px;
    text-align: center;
    padding-left: 0px;
}
nav ul li {
    display: inline-block;
    margin: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.1); 
    border-bottom: 1px solid black;
}
nav li a:link {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}
nav li a:visited {
    color: #000000;
}
nav li a:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.80);
}
nav li a:focus {
    color: #000000;
}
nav li a:active {
    font-weight: 300;
    color: #60EDFF;
    text-shadow: 2px 2px 2px rgba(0,0,0,.25);
}
.clear {
    clear: both;
}

/*#menu03, #menu04, #menu05, #menu07, #menu08, #menu09, #menu10, #menu12, #menu13 {
    border-bottom: 3px solid black;
}*/

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::  02: Object Stuff  ::::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

pre{
    background: lightgray;
    border: #333 solid thin;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::  03: JSON Stringify & Parse  ::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#sliderRange
{
    width: 257px;
}

#sliderValue
{
    width: 300px;
}

.pbContain {
    float:left;
}

.pbPic {
    height: 350px;
    float: left;
    padding-right: 25px;
}

.pbInfo {
    padding-top: 100px;
}


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::  04: AJAX  ::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#pbAJAX li {
    display: inline-block;
    margin: auto;
    vertical-align: top;
}

.pbPicAJAX {
    display: inline-block;
    height: 350px;
    float: right;
    padding: 10px;
    margin: auto;
}

.pbInfoAJAX {
    padding-left: 20px;
    margin-left: 7px;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::  05: Local Storage  :::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#localStorage, #localStorage td, #localStorage th {
    border: 1px solid black;
}

.swatch {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
}

#bgBlue {
    background-color: lightblue;
}

#bgGrey {
    background-color: lightgrey;
}

#bgOrange {
    background-color: seashell;
}

#nvTomato {
    background-color: tomato;
}

#nvLavender{
    background-color: lavender;
}

#nvLemonchiffon {
    background-color: lemonchiffon;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::  06: DOM Manipulation  ::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#domTable, #domTable td, #domTable th {
    border: 1px solid black;
}

i:hover {
    cursor: pointer;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::  10: Audio, Video, Canvas  ::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#canvas1 {
    border: #000 1px solid;
}

#ctx {

}
/*@-webkit-keyframes circle {
    0%   {background-color:red; left:0px; top:0px;}
    20%  {background-color:orange; left:100px; top:200px;}
    40%  {background-color:yellow; left:200px; top:100px;}
    60%  {background-color:green; left: 300px; top:100px;}
    80%  {background-color:blue; left:400px; top:200px;}
    100% {background-color:violet; left:500px; top:200px;}
}*/

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::  11: Transitions  :::::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.shapeParams, .shapeParams div {
    display: inline-block;
    margin-left: 25px;
}

.shapeParams input {
    width: 5em;
    background-color: lightskyblue;
}

#shapeBParams {
    float: right;
}

#shapeA, #shapeB, #btnShapeA {
    margin: auto;
}

#btnShapeA {
    margin: 20px auto 20px auto;
}

.btn {
    position: absolute;
    padding: 6px 6px;
    margin: 2px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000;
    background-color: lightskyblue;
    border: 1px solid #333;
    border-radius: 6px;
    box-shadow: 0 3px #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:hover {
    position: absolute;
    background-color: lightblue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:active {
    position: absolute;
    background-color: lightblue;
    box-shadow: 0 0px #333;
    transform: translateY(3px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#tran1 {
    width: 100px;
    height: 100px;
    background: red;
    border: 0px solid black;
    transition: width 2s ease, height 3s ease-in, background 2s ease, border 2s ease-out;
}
#tran1:hover {
    width: 300px;
    height: 300px;
    background: orange;
    border: 3px solid black;
}

#tran2 {
    width:100px;
    height: 100px;
    rotation: 20deg;
    background-color: lightskyblue;
    border-width: 0px;
}
.waveContainer {
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width: 36px;
    height: 36px;
}
.wave { 
    margin: auto;
    width: 30px;
    height: 30px;
    background: lightskyblue;
    transition: width .2s ease, height .2s ease, background .1s ease, border .1s ease-out;
}
.wave:hover {
    margin: auto;
    width: 105%;
    height: 105%;
    background: lightgreen;
}
.row {
    margin:-12px;
    padding:0px;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::  12: CSS Transforms  ::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#trf1 {
    width: 100px;
    height: 100px;
    background: red;
    border: 0px solid black;
}

#trf1:hover {
    transform:rotate(25deg)
}
#flipBoxOuter {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 50px;
    padding: 10px;
    border: 0px solid black;
    -webkit-perspective: 300px; /* Chrome, Safari, Opera  */
}
#flipBox
{
    width:300px;
    height:300px;
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); /* IE 9 */
    -webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
    -webkit-perspective: 300px; /* Chrome, Safari, Opera */
}
#dicePlacementContainer {
    transform: translate (30px);
    margin-left: auto;
    margin-right: auto;
    float: right;
    width: 66.6%; 
    height: 200px;
}
#dice3DContainer {
    margin-left: auto;
    margin-right: auto;
    transform-style: preserve-3d;
    width: 200px; 
    height: 200px;
    position: relative; 
    perspective: 1000px; 
}
#diceTranslateContainer {
    margin-left: auto;
    margin-right: auto;
    transform-style: preserve-3d;
    width: 200px; 
    height: 200px;
    position: relative;
}

/*TODO: set fade in for dice*/

#dice3D {
    width: 200px; 
    height: 200px;
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    transition: transform .75s ease;
}
#diceControlsContainer {
    width: 33.3%;
    min-width: 245px;
    display: inline-block;
    float: left;
}
.diceSide { 
    width: 200px; 
    height: 200px; 
    display: block;
    margin: 10px;
    position: absolute;
    display: -webkit-flex;
    /* Safari */

    display: flex;
    /*margin:0px;*/
}
#sideOne {
    background: rgba(255, 0, 0, .8);
    transform: translateZ(100px);
}
#sideTwo {
    background: rgba(0, 255, 0, .8);
    transform: rotateY(90deg)
        translateZ(100px);
}
#sideThree {
    background: rgba(255, 51, 204, .8);
    transform: rotateX(90deg)
        translateZ(100px);
}
#sideFour {
    background: rgba(0, 102, 255, .8);
    transform: rotatex(-90deg)
        translateZ(100px);
}
#sideFive {
    background: rgba(0, 255, 255, .8);
    transform: rotateY(-90deg)
        translateZ(100px);
}
#sideSix {
    background: rgba(255, 255, 0, .8);
    transform: rotateX(180deg)
        translateZ(100px);
}

.column {
    width: 66.666665px;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
}

.dot {
    height:40px;
    width: 40px;
    background-color: black;
    border-radius: 100%;
    margin: 8.333333px;
}

.sideOne {
    justify-content: center;
    align-items: center;
}

.sideTwo {
    justify-content: space-between;
}

.sideTwo .dot:nth-of-type(2) {
    align-self: flex-end;
}

.sideThree {
    justify-content: space-between;
}

.sideThree .column1 .dot {
    align-self: flex-start;
}

.sideThree .column2 .dot {
    align-self: center;
}

.sideThree .column3 .dot {
    align-self: flex-end;
}

.sideFour {
    justify-content: space-between;
}

.sideFour .column {
    flex-direction: column;
    justify-content: space-between;
}

.sideFive {
    justify-content: space-between;
}

.sideFive .twodot-column1,
.sideFive .twodot-column3 {
    flex-direction: column;
    justify-content: space-between;
}

.sideFive .twodot-column1 .dot,
.sideFive .twodot-column3 .dot {
    align-self: space-between;
}

.sideFive .twodot-column2 .dot {
    align-self: center;
}

.sideSix {
    justify-content: space-between;
}

.sideSix .column {
    flex-direction: column;
    justify-content: space-between;
}

.turnDiceButtons {
    
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::  13: CSS Animations  ::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#animA {
    width:100px;
    height: 100px;
    rotation: 20deg;
    background-color: lightskyblue; 
}

#bounceParentB {
    animation-name: ballRollB;
    animation-play-state: paused;
    animation-duration: 2.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}
@keyframes ballRollB{
    0% {transform: translateX(0px); }
    100% {transform: translateX(400px); }    
}

#animB {
    width:100px;
    height: 100px;
    border-radius: 100%;
    background: lightskyblue;
    background: radial-gradient(circle at 50px 20px, #bee6ff, lightskyblue);
    margin-bottom: 200px;
    animation-name: ballBounceB;
    animation-play-state: paused; 
    animation-duration: .3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#animC {
    width:100px;
    height: 100px;
    border-radius: 100%;
    background: lightskyblue;
    background: radial-gradient(circle at 50px 20px, #bee6ff, lightskyblue);
    margin-bottom: 200px;
    animation-name: ballBounceB;
    animation-play-state: running;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ballBounceB {
    0% {transform: translateY(0px); }
    100% {transform: translateY(80px); }
    0% {box-shadow: 0px 100px 30px -30px rgba(0,0,0,.2)}
    100% {box-shadow: 0px 20px 10px -10px rgba(0,0,0,.5)}
}

#mouseOverButtonId {
    position: relative;
    top:0px;
    left:0px;
}

#fAndB {

}

#bAndF {
}


