body {
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

nav {
	text-align: center;
}
nav ul {
	margin-bottom: 0px;
	text-align: center;
}
nav ul li {
	display: inline-block;
	margin: auto;
	text-align: center;
}
nav li a:link {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding: 10px;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
nav li a:visited {
	color: #000000;
}
nav li a:hover {
	color: #ffffff;
	background-color: rgba(0,0,0,0.80);
}
nav li a:focus {
	color: #000000;
}
nav li a:active {
	font-weight: 300;
	color: #60EDFF;
	text-shadow: 2px 2px 2px rgba(0,0,0,.25);
}
