body {
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  box-sizing: border-box;
  display: block;
  font-size: 15px;
}

table {
    margin: 0 auto;
}

tr td {
    padding: 0 10px;
}

/*Navigation Style -------------------------------------------------- */
nav {
	text-align: center;
        padding-left: 0px;
        
}
nav ul {
	margin-bottom: 50px;
	text-align: center;
        padding-left: 0px;
}
nav ul li {
	display: inline-block;
	margin: auto;
	text-align: center;
	border-bottom: 1px solid black;
}
nav li a:link {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 15px;
	padding: 10px;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
nav li a:visited {
	color: #000000;
}
nav li a:hover {
	color: #ffffff;
	background-color: rgba(0,0,0,0.80);
}
nav li a:focus {
	color: #000000;
}
nav li a:active {
	font-weight: 300;
	color: #60EDFF;
	text-shadow: 2px 2px 2px rgba(0,0,0,.25);
}


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::  13: CSS Animations  ::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#containerA {
    width:200px;
    height: 200px; 
}
#animA {
    width:100px;
    height: 100px;  
    background-color: lightskyblue;
    
}

#animB {
    width:100px;
    height: 100px;
    border-radius: 100%;  
    background: lightskyblue;
    animation-name: ballBounce;
    animation-play-state: paused;
    animation-duration: .25s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes ballBounce {
    0% {transform: translateY(0px); }
    100% {transform: translateY(80px); }
    0% {box-shadow: 0px 100px 30px -30px rgba(0,0,0,.2)}
    100% {box-shadow: 0px 20px 10px -10px rgba(0,0,0,.5)}
}