html {
    height: 100%;
}

body {
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 20px;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    background: white;
}

table {
    margin: 0 auto;
}

tr td {
    padding: 0 10px;
}

/*Navigation Style -------------------------------------------------- */
nav {
    text-align: center;
    padding-left: 0px;
}
nav ul {
    margin-bottom: 50px;
    text-align: center;
    padding-left: 0px;
}
nav ul li {
    display: inline-block;
    margin: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.1); 
    border-bottom: 1px solid black;
}
nav li a:link {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}
nav li a:visited {
    color: #000000;
}
nav li a:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.80);
}
nav li a:focus {
    color: #000000;
}
nav li a:active {
    font-weight: 300;
    color: #60EDFF;
    text-shadow: 2px 2px 2px rgba(0,0,0,.25);
}

/*#menu03, #menu04, #menu05, #menu07, #menu08, #menu09, #menu10, #menu12, #menu13 {
    border-bottom: 3px solid black;
}*/

#topBank{
 width: 100%;
 height: 15%;
 min-height: 80px;
 max-height:160px;
 background-color: green;
}

#water {
 width: 100%;
 height: 40%;
 position: relative;
 min-height: 160px;
 max-height: 320px;
 background-color: aqua;
}

#alerts {
 width: 30%;
 max-height: 298px;
 background: white;
 border-color: black;
 border-radius: 10px;
 padding: 2px;
 float: right;
}

#bottomBank {
 width: 100%;
 height: 15%;
 min-height: 80px;
 max-height:160px;
 background-color: green;
}

#carrot {
    width: 75px;
    height: 75px;
    margin: auto;
    float: left;
}

#rabbit { 
    width: 75px;
    height: 75px;
    margin: auto;
    float: left;
}

#fox {
    width: 75px;
    height: 75px;
    margin: auto;
    float: left;
}

#topDrop {
    width: 225px;
    height: 75px;
    margin: auto;
    border: 1px solid #aaaaaa;
}
#boat {
    width: 75px;
    height: 75px;
    margin: auto;
/*    position: absolute;   
    top: 100%;*/
    border: 1px solid #aaaaaa;
}
#bottomDrop {
    width: 225px;
    height: 75px;
    margin: auto;
    border: 1px solid #aaaaaa;
}