html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


body {
    /*overflow: hidden;*/
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 15px;
}

/*----  MENU CARD FLIP  ----  MENU CARD FLIP  ----  MENU CARD FLIP  */

.container {
    z-index: 6;
    width: 85%;
    height: 85%;
    position: absolute;
    transition: transform 1s ease;
    transition: left 2s ease 0s;
    /*margin: 0 auto;*/
/*    border: 5px black;*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s ease;
    -moz-transition: -moz-transform 1s ease;
    -o-transition: -o-transform 1s ease;
    transition: transform 1s ease;
/*    top: 0%;
    left: 0%;*/
    /*transform: translateX(-50%) translateY(-50%);*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*-webkit-transform-origin: 50% 50%;*/
}

.card div {
        /*display: block;*/
/*        height: 100%;
        width: 100%;*/
    /*    line-height: 260px;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 140px;*/
    /*position: absolute;*/
    transition: transform 1s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .front {
    z-index: 6;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s ease;
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgba(153, 235, 255, 1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .back {
    z-index: 9;
    width: 100%;
    height: 100%;
    position:absolute;
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgba(153, 235, 255, 1);
    transition: transform 1s ease;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
/*    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;*/
}

/*.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}*/

/*.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#wholeMenu {
    position: absolute;
    width: 85%;
    height: 85%;
    z-index: 7;
    border: 1px black;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(153, 235, 255, .85);
    border:2px #000 solid;
    border-radius: 15px;
    transition: left 2s ease 0s;
}

#menuFront {
    
}

.wrapper {
    position: absolute;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(153, 235, 255, .85);
    border:2px #000 solid;
    border-radius: 15px;
    transition: left 2s ease 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.front {
    z-index: 9;
     for firefox 31 
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

 back, initially hidden pane 
.back {
    z-index: 8;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.flipWrapper {
    margin-top: 0px;
    transition: all .75s ease;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}*/

/*----  CSS BUTTONS  ----  CSS BUTTONS  ----  CSS BUTTONS  ----  CSS BUTTONS  */  

/*
text is #fff - white
light blue - #99ebff
medium blue - #4ddbff
dark blue - #00ccff
*/

.btn {
    /*position: absolute;*/
    padding: 6px 6px;
    margin: 2px;
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000;
    background-color: #99ebff;
    border: 1px solid #333;
    border-radius: 6px;
    box-shadow: 0 3px #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:hover {
    /*position: absolute;*/
    background-color: #4ddbff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:active {
    /*position: absolute;*/
    background-color: #00aadd;
    box-shadow: 0 0px #333;
    transform: translateY(3px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*----  MENU  ----  MENU  ----  MENU  ----  MENU  ----  MENU  ----  MENU  */  

#menuOn{
    position: absolute;
    left: 2%;
    top: 10px;
    /*transform: translateY(-50%);*/
}

#settings {
    position: relative;
    float:left;
}

#play {
    position: relative;
    text-align: center;
    width: 96%;
   
    /*    bottom: 10px;
        right: 2%;*/
}

#menuReset {
    position: relative;
    float: end;
    /*    left: 2%;
        top: 50%;
        transform: translateY(-50%);*/
}

#menuTitle {
    position:absolute;
    line-height: 1;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: x-large;
}

#instructions {
    position:absolute;
    top: 40%;
    padding: 10%;
    /*margin:10%;*/
}

.menuButtons {
    position:absolute;
    bottom:10%;
    left: 50%;
    transform: translateX(-50%);

}

#menuTitle div{
    /*float:left;*/
}

#reset {
    position: absolute;
    left: -150%;
    top: 50%;
    transform: translateY(-50%);
    transition: left 2s ease 0s;
}

/*---- BODY  ----  BODY  ----  BODY  ----  BODY  ----  BODY  ----  BODY*/

#crossRiver {
    z-index: 5;
    position: absolute;
    bottom: 10px;
    right: 2%;
}

#topBank{
    z-index: 1;
    position: absolute;
    top:0;
    width: 100%;
    height: 15%;
    min-height: 80px;
    /*max-height:160px;*/
    background-color: green;
}

#bottomBank {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    min-height: 80px;
    /*max-height:160px;*/
    background-color: green;
}

#water {
    /*z-index: 0;*/
    top: 15%;
    bottom: 15%;
    width: 100%;
    height: 70%;
    position: relative;
}

#canvasWater {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #4ddbff;
}

#boat {
    position: absolute;
    z-index: 3;
    border: 1px black;
    width: 75px;
    height: 75px;
    margin: auto;
    right: 0;
    left: 0;
    background-image: url(images/boat_back.png);
    bottom: 80%;
    transition: bottom 2s ease 0s;

}

#boatFront {
    position: absolute;
    pointer-events: none;
    z-index: 5;
    width: 75px;
    height: 75px;
    margin: auto;
    right: 0;
    left: 0;
    background-image: url(images/boat_front.png);
    bottom: 80%;
    transition: bottom 2s ease 0s;
}

#alerts {
    width: 30%;
    max-height: 298px;
    background: white;
    border-color: black;
    border-radius: 10px;
    padding: 2px;
    float: right;
}

#carrot {
    z-index: 4;
    width: 75px;
    height: 75px;
    margin: auto;
    float: left;
    /*-webkit-user-drag:*/ 
}

#rabbit {
    z-index: 4;
    width: 75px;
    height: 75px;
    margin: auto;
    float: left;
    /*-webkit-user-drag:*/
}

#fox {
    z-index: 4;
    width: 75px;
    height: 75px;
    margin: auto;
    float: left;
    /*-webkit-user-drag:*/
}

#topDrop {
    z-index: 1;
    position: absolute;
    width: 225px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    background-image: url(images/rock_base.png);
}

#bottomDrop {
    z-index: 1;
    position: absolute;
    width: 225px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url(images/rock_base.png);
}

#selectWrap {
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    position: absolute;
    top: 50px;
}

#voiceSelect {
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    position: relative;

}